# This file contains code owners for the imu-ros2 project

# The following are the global code owners which will be responsible for all
# files in the repository.

* @adisuciu @Adrian-Stanea @rbolboac @rbudai98 @SeptimiuVana