# This file contains code owners for the imu-ros2 project

# The following are the global code owners which will be responsible for all
# files in the repository.

* @Adrian-Suciu_adi @Vasile-Holonec_adi @Adrian-Stanea_adi @robert-budai_adi @Dan-Nechita_adi @Ramona-Gradinariu_adi